/* WARNING: Head Portion  */
/* WARNING: Body Portion  */
body {
  margin: 0;
  text-align: center;
  background-color: #F0F0F0;
  font-family: 'Rubik', sans-serif;
}

hr {
  border-style: dotted none none none;
  -webkit-border-top-style: dotted;
  border-color: black;
  border-width: 1rem;
  width: 15%;
  margin: auto;
  padding-bottom: 3rem;
}

/* WARNING: For "top" div */
.top {
  background-color: #F0F0F0;
  position: relative;
  padding-top: 8rem;
  height: 50rem;
}

.learning {
  font-weight: bold;
}

h1 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 7rem;
  color: #66BFBF;
  font-family: 'WindSong', cursive;
  text-align: center;
}

.clock {
  padding-top: 4.7rem;
  padding-bottom: 4.7rem;
  margin-top: 12rem;
  border-radius: 3.5rem;
}

.quote {
  font-size: 2.5rem;
  line-height: 2;
  color: #66BFBF;
  font-weight: normal;
}

/* WARNING: For "middle" div */
.img {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.emoji {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.all {
  font-family: 'WindSong', cursive;
  font-weight: bold;
  font-size: 2rem;
}

.hello {
  padding-top: 2rem;
  font-family: 'Cabin Sketch', cursive;
  font-size: 4.5rem;
}

.info {
  font-size: 1.3rem;
  padding-bottom: 0;
}

.aAll {
  padding-bottom: 5rem;
  font-size: 1.3rem;
}

/* WARNING: For class skills */
h3 {
  font-size: 2.5rem;
}

.myskills {
  font-weight: bold;
  font-size: 4rem;
  padding-top: 5rem;
  padding-bottom: 0;
}

.skill-row {
  position: relative;
  margin: 10rem auto 10rem auto;
  margin-bottom: 10rem;
  width: 80%;
  text-align: left;
}

.web-para {
  text-align: left;
  line-height: 1.2;
  font-size: 2rem;
}

.ios-para {
  line-height: 1.2;
  font-size: 2rem;
}

.it-patra {
  line-height: 1.2;
  font-size: 2rem;
}

.os-para {
  line-height: 1.2;
  font-size: 2rem;
}

.webpic {
  height: 12.5rem;
  width: 12.5rem;
  float: left;
  margin-right: 1.5rem;
}

.iospic {
  height: 13.3rem;
  width: 13.3rem;
  float: right;
  margin-left: 1.5rem;
}

.itpic {
  height: 13.3rem;
  width: 13.3rem;
  float: left;
  margin-right: 1.5rem;
}

.ospic {
  height: 13.3rem;
  width: 13.3rem;
  float: right;
  margin-left: 1.5rem;
}

.epic-button {
  height: 5rem;
  width: 5rem;
  border-radius: 1.4rem;
  text-align: right;
  margin-bottom: 0;
}

/* WARNING: For class bottom container */
.bottom-container {
  background-color: #C0C0C0;
}

.social {
  height: 5rem;
  width: 5rem;
  border-radius: 1.4rem;
  margin: 2rem 1rem 2rem 1rem;
}

.copyright {
  font-size: .7rem;
  margin-bottom: 1rem;
}
