/* WARNING: Head Portion  */
/* WARNING: Body Portion  */
body {
  margin: 0;
  text-align: center;
  font-family: cursive;
  font-family: 'Rubik', sans-serif;
}

/* WARNING: For "top" div */
.top {
  background-color: #E4D8DC;
  position: relative;
  padding-top: 8rem;
  height: 50rem;
}

.learning {
  font-weight: bold;
}

h1 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 7rem;
  color: #66BFBF;
  font-family: 'WindSong', cursive;
  text-align: center;
}

.clock {
  padding-top: 4.7rem;
  padding-bottom: 4.7rem;
  margin-top: 11rem;
  border-radius: 3.5rem;
}

.quote {
  font-size: 2.5rem;
  line-height: 2;
  color: #66BFBF;
  font-weight: normal;
}

/* WARNING: For "middle" div */
.img {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.emoji{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.all {
  font-family: 'WindSong', cursive;
  font-weight: bold;
  font-size: 2rem;
}

.hello {
  padding-top: 2rem;
  font-family: 'Cabin Sketch', cursive;
  font-size: 4rem;
}
.info{
  font-size: 1.3rem;
  padding-bottom: 0;
}
.aAll{
  padding-bottom: 5rem;
  font-size: 1.3rem;
}

.skill-row {
  position: relative;
  margin: 100px auto 100px auto;
  width: 80%;
  text-align: left;
}

/* WARNING: For class skills */
/* WARNING: For class contact-me */
/* WARNING: For class bottom container */
